@if (product(); as product) {
  <div class="product">
    <div class="product__header">
      <h4 class="ellipsis-text">{{ product?.title }}</h4>
    </div>
    <div class="product__content">
      <img [src]="product.thumbnail" width="250" height="250" alt="Product {{ product.id }} Image">
    </div>
    <div class="product__actions">
      <button class="plain-button material-box" (click)="goToDetail(product.id)">Ver Detalles</button>
      <button class="plain-button material-box" (click)="remove(product.id)">Eliminar</button>
    </div>
  </div>
}
