.product-list {
  display: grid;
  height: 100%;
  gap: 0.5rem;

  &__content {
    box-sizing: border-box;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    overflow: auto;
  }
}

.product-pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.selected-page {
  color: #ffffff;
  background: #192721;
}
