<div class="product-search">
  <form [formGroup]="filterForm">
    <input type="search" placeholder="Buscar Productos" formControlName="search" />
  </form>
</div>
<div class="product-list">
  @for (product of products$ | async; track product.id) {
    <app-product-item
      [product]="product"
      (toDetail)="goToDetail($event)"
      (toRemove)="remove($event)"
    />
  }
</div>
<div class="product-pagination">
  @for (item of [0, 1, 2, 3, 4, 5, 6]; track item) {
    <button class="plain-button material-box"
      [class.selected-page]="filterForm.value.page === item"
      (click)="goToPage(item)"
    >{{ item + 1 }}</button>
  }
</div>
